<% 
  const folder_upload = 'uploads/products/';
  const linkProduct    = systemConfig.prefixSales + '/product/';
  const linkCheckout    = systemConfig.prefixSales + '/checkout/';
  let total = 0;
%>
<% include ./../../helpers/format-money %>
    
    <!--======= PAGES INNER =========-->
    <section class="padding-top-100 padding-bottom-100 pages-in chart-page">
      <div class="container"> 
        
        <!-- Payments Steps -->
        <div class="shopping-cart text-center">
          <div class="cart-head">
            <ul class="row">
              <!-- PRODUCTS -->
              <li class="col-sm-2 text-left">
                <h6>PRODUCTS</h6>
              </li>
              <!-- NAME -->
              <li class="col-sm-4 text-left">
                <h6>NAME</h6>
              </li>
              <!-- PRICE -->
              <li class="col-sm-2">
                <h6>PRICE</h6>
              </li>
              <!-- QTY -->
              <li class="col-sm-1">
                <h6>QTY</h6>
              </li>
              
              <!-- TOTAL PRICE -->
              <li class="col-sm-2">
                <h6>TOTAL</h6>
              </li>
              <li class="col-sm-1"> </li>
            </ul>
          </div>
          

          <% items.forEach( (item) => { %>
            <% total += item.price * item.quantity %>
          <!-- Cart Details -->
          <ul class="row cart-details">
            <li class="col-sm-6">
              <div class="media"> 
                <!-- Media Image -->
                <div class="media-left media-middle"> <a href="<%= linkProduct + item.slug %>" class="item-img"> <img class="media-object" src="<%= folder_upload + item.avatar %>" alt=""> </a> </div>
                
                <!-- Item Name -->
                <div class="media-body">
                  <div class="position-center-center">
                    <h5><%= item.name %></h5>
                    
                  </div>
                </div>
              </div>
            </li>
            
            <!-- PRICE -->
            <li class="col-sm-2">
              <div class="position-center-center" id="price-<%= item.id %>"> <span class="price"><%=  formatMoney(item.price) %><small>đ</small></span> </div>
            </li>
            
            <!-- QTY -->
            <li class="col-sm-1">
              <div class="form-group--number">
								<a href="/sales/cart/change-quantity-decrease/<%= item.id %>"><button class="minus"><span>-</span></button></a>
								<input id="quantity-<%= item.id %>" class="form-control" type="text" value="<%= item.quantity %>">
								<a href="/sales/cart/change-quantity-increase/<%= item.id %>"><button class="plus"><span>+</span></button></a>
								</div>
            </li>
            
            <!-- TOTAL PRICE -->
            <li class="col-sm-2">
              <div class="position-center-center" id="total-<%= item.id %>"> <span class="price"><%=  formatMoney(item.price * item.quantity) %><small>đ</small></span> </div>
            </li>
            
            <!-- REMOVE -->
            <li class="col-sm-1">
              <div class="position-center-center"> <a href="/sales/cart/del/<%= item.id %>"><i class="icon-close"></i></a> </div>
            </li>
          </ul>
          <% }) %>
        </div>
      </div>
    </section>
    
    <!--======= PAGES INNER =========-->
    <section class="padding-top-100 padding-bottom-100 light-gray-bg shopping-cart small-cart">
      <div class="container"> 
        
        <!-- SHOPPING INFORMATION -->
        <div class="cart-ship-info margin-top-0">
          <div class="row"> 
            
            <!-- DISCOUNT CODE -->
            <div class="col-sm-7">
              <h6>DISCOUNT CODE</h6>
              <form action="<%= linkCheckout %>apply-promo-code" method="POST" id="form-promotion">
                <span data-alertid="example"></span>
                <input class="form-control" type="text" name="code" placeholder="ENTER YOUR CODE IF YOU HAVE ONE">
                <button  type="submit" class="btn btn-small btn-dark">APPLY CODE</button>
                <p id="notify-promotion" style="color: red;"></p>
              </form>
              <div class="coupn-btn"> <a href="sales/" class="btn">continue shopping</a> <a href="/sales/checkout" class="btn">Check out</a> </div>
            </div>
            
            <!-- SUB TOTAL -->
            <div class="col-sm-5">
              <h6>grand total</h6>
              <div class="grand-total">
                <div class="order-detail">
                  <% items.forEach( (item) => { %>
                  <p><%= item.name %><span><%=  formatMoney(item.price * item.quantity) %>đ </span></p>
                  
                  <% }) %>
                  <!-- SUB TOTAL -->
                  <p class="all-total">TOTAL COST <span id="show-total-price">  </span></p>
                  <p class="all-total" style="display:none">TOTAL COST <span id="info-total-price">  <%= total %></span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    