<% include ./../../helpers/selectbox %>
<% include ./../../helpers/input %>
<% include ./../../helpers/textarea %>
<% include ./../../helpers/formBody %>
<% include ./../../helpers/image %>
<% 
	const controllerName = "products";
	const linkPrefix = systemConfig.prefixAdmin + `/${controllerName}/`;
	const folderUpload 	= 'uploads/products/';
	let elementsForm = [
		
		{ for: 'name', label: 'Name', input: inputHelper('name', item.name ,'text', 'name_slug' ) },
		{ for: 'slug', label: 'Slug', input: inputHelper('slug', item.slug)},
		{ for: 'ordering', label: 'Ordering', input: inputHelper('ordering', item.ordering ) },
		{ for: 'price', label: 'Price', input: inputHelper('price', item.price ) },
		{ for: 'avatar', label: 'Avatar', input: inputMultiImageHelper('avatar', item.name,  'input-multi-files' ) },
		{ for: 'Show-avatar', label: 'Preview', input: showMultiImageHelper(folderUpload, item.avatar) },
		{ for: 'status', label: 'Status', input: selectboxHelper('status', systemConfig.status_value, item.status) },
		{ for: 'special', label: 'Special', input: selectboxHelper('special', systemConfig.special_value, item.special) },
		{for: 'color', label: 'Color', input: inputHelper('color', item.color, 'text', 'tags-input')},
		{for: 'tags', label: 'Tags', input: inputHelper('tags', item.tags, 'text', 'tags-input')},
		{for: 'discount', label: 'Discount', input: inputHelper('discount', item.discount)},
		{for: 'quantity', label: 'Quantity', input: inputHelper('quantity', item.quantity)},
		{ for: 'group_id', label: 'Category', input: selectboxHelper('group_id', groupsItems, item.group_id) },
		{ for: 'brand_id', label: 'Brand', input: selectboxHelper('brand_id', brandsItems, item.brand_id)},
		{ for: 'content', label: 'Content', input:  textareaHelper('content', item.content ) },
	];

	let xhtmlForm = formBodyHelper(elementsForm);
%>
<% include ./../../html/errors %>
<div class="card card-info card-outline">
	<form action="<%= linkPrefix %>save/" method="POST" class="mb-0" enctype="multipart/form-data" name="form-upload">
		<div class="card-body">
			<%- xhtmlForm %>
		</div>
		<div class="card-footer">
			<div class="col-12 col-sm-8 offset-sm-2">
				<input class="form-control" name="id" value="<%= item.id %>" type="hidden" >
				<input  name="image_old" value="<%= item.avatar%>" type="hidden" >
				<input class="form-control" name="group_name" type="hidden" value="<%= item.group_name %>"/>
				<input  class="form-control" name="group_slug" type="hidden" value="<%= item.group_slug %>"/>
				<input class="form-control" name="brand_name" type="hidden" value="<%= item.brand_name %>"/>
				<input  class="form-control" name="brand_slug" type="hidden" value="<%= item.brand_slug %>"/>
				<input name="brandID_old" value="<%= item.brand_id %>" type="hidden"  /> 
				<input name="groupID_old" value="<%= item.group_id %>" type="hidden"  /> 
				<button type="submit" class="btn btn-sm btn-success mr-1"> Submit</button>
				<a href="<%= linkPrefix %>" class="btn btn-sm btn-danger mr-1"> Cancel</a>
			</div>
		</div>
	</form>
</div>
<script>
	//CKEDITOR.replace( 'content' );
</script>