<%
    const folder_uploads = 'uploads/articles/';
    
%>

<div class="content_top">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm6">
        <div class="latest_slider">
          <div class="slick_slider">
            <% for(let i = 0; i < itemsSpecial.length; i++){ %>
              
              <div class="single_iteam"><img src="<%= folder_uploads + itemsSpecial[i].avatar %>" alt="<%= itemsSpecial[i].name %>">
                <h2><a class="slider_tittle" href="/category/<%= itemsSpecial[i].id %>"><%= itemsSpecial[i].name %>></a></h2>
              </div>
            <% } %>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm6">
        <div class="content_top_right">
          <h2 style="
          text-align: center;
           border-bottom: 3px solid #ffa500;
           margin: 6px 0 15px;
          padding: 0 0 13px;
          text-transform: uppercase;"> Latest update</h2>
          <ul class="featured_nav wow fadeInDown">
            <% for(let i = 0; i < itemsNews.length; i++){ %>
            <li><img src="<%= folder_uploads + itemsNews[i].avatar %>" alt="<%= itemsNews[i].name %>">
              <div class="title_caption"><a href="/category/<%= itemsNews[i].id %>"> Latest update
                <%= itemsNews[i].name %></a></div>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </div>