<% include ./../../helpers/format-summary %>
<%
    const folder_uploads = 'uploads/products/';
    
%>

<!-- New Arrival -->
<section class="padding-top-100 padding-bottom-100">
  <div class="container"> 
    
    <!-- Main Heading -->
    <div class="heading text-center">
      <h4>Trang sức mới</h4>
      <span>Những món trang sức mới được lấy về,   mại dô mại dô</span> </div>
  </div>
  <%= //JSON.stringify(itemsNews)  %>

  <!-- New Arrival -->
  <div class="arrival-block"> 
    <% for(let i = 0; i < itemsNews.length; i++){ %>
    <!-- Item -->
    <div style="border-top: 2px solid #d1d5db;
    border-bottom:none;
    border-left:1px solid #d1d5db;" class="item"> 
      <!-- Images --> 
      <img  class="img-1" src="<%= folder_uploads + itemsNews[i].avatar[0] %>" alt="<%= itemsNews[i].name %>"> <img class="img-2" src="<%= folder_uploads + itemsNews[i].avatar[1] %>" alt=""> 
      <!-- Overlay  -->
      <div class="overlay"> 
        <!-- Price --> 
        <span class="price"><small>đ</small><%= itemsNews[i].price %></span>
        <div class="position-center-center"> <a href="sales/product/<%= itemsNews[i].slug %>" data-lighter><i class="icon-magnifier"></i></a> </div>
      </div>
      <!-- Item Name -->
      <div class="item-name"> <a href="sales/product/<%= itemsNews[i].slug %>"><%= itemsNews[i].name %></a>
        
      </div>
    </div>
    <% } %>
    
    
  
   
  </div>

  <div style="border-top: 1px solid #d1d5db;    padding-top: 4%;" class="container" style="padding-top: 4%;"> 
    
    <!-- Main Heading -->
    <div class="heading text-center">
      <h4>Đồng hồ mới</h4>
      <span>Các đồng hồ mới được bày bán,   mại dô mại dô</span> </div>
  </div>

  <div class="top-shop-feature">
    <div class="container">
      <div class="row"> 
        
        <!-- Item 1  -->
        <div class="col-md-6">
          <div class="text-right"> <img src="images/feature-img-1.png" alt="" >
            <article> <span class="price"><small>$</small>299</span>
              <h4>ECO FRIENDLY</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam cursus accumsan enim, sit amet tristique mauris vulputate sit amet. Cras moles</p>
              <a href="#." class="btn btn-small btn-round">SHOP NOW</a> </article>
          </div>
        </div>
        
        <!-- Item 2  -->
        <div class="col-md-6 light">
          <div class="text-left"> <img src="images/feature-img-2.png" alt="" >
            <article> <span class="price"><small>$</small>489</span>
              <h4>Concrete Shaving Kit</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam cursus accumsan enim, sit amet tristique mauris vulputate sit amet. Cras moles</p>
              <a href="#." class="btn btn-small btn-round">SHOP NOW</a> </article>
          </div>
        </div>
        
        <!-- Item 3  -->
        <div class="col-md-6 left light ">
          <div class="text-right"> <img src="images/feature-img-3.png" alt="" >
            <article> <span class="price"><small>$</small>954</span>
              <h4>wooden chair</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam cursus accumsan enim, sit amet tristique mauris vulputate sit amet. Cras moles</p>
              <a href="#." class="btn btn-small btn-round">SHOP NOW</a> </article>
          </div>
        </div>
        
        <!-- Item 4  -->
        <div class="col-md-6">
          <div class="text-left"> <img src="images/feature-img-4.png" alt="" >
            <article> <span class="price"><small>$</small>99</span>
              <h4>CERAMIC STONE VASE</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam cursus accumsan enim, sit amet tristique mauris vulputate sit amet. Cras moles</p>
              <a href="#." class="btn btn-small btn-round">SHOP NOW</a> </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="special-offers">
  <div class="container">
    <div class="col-md-8 center-block">
      <h4>special</h4>
      <h1 class="extra-huge-text"> women’s
        sale </h1>
      <a href="#." class="btn btn-round margin-top-50"> SHOP NOW</a> </div>
  </div>
</section>




