<% include ./../../helpers/format-summary %>
<% include ./../../helpers/format-money %>
<%
    const folder_uploads = 'uploads/products/';
    const folder_uploads_types = 'uploads/types/';
    const folder_uploads_brands = 'uploads/brands/';
%>

<%= //JSON.stringify(itemsSpecialInType[0][0].price) %> 
<section class="padding-top-100 padding-bottom-30">
  <div class="container"> 
    
    <!-- Main Heading -->
    <div class="heading text-center" style="
    margin-bottom: 60px;
">
      <h4>Loại đồng hồ</h4>
       </div>
    
    <!-- NEW ARRIVAL -->
    <div class="new-arrival-list">
      <ul class="row">
        

        <% itemsCategory.forEach((category) => { %>  
          <!-- SHOP ITEM 1 -->
          <li class="col-md-6"> 
            <article> <img style="
              opacity: 0.6;
          " class="img-responsive" src="<%= folder_uploads_types + category.avatar %>" alt="<%= category.name %> ">
              <div class="position-center-center">
                <h4><a href="sales/type/<%= category.slug %>"><%= category.name %></a></h4>
                <a href="sales/type/<%= category.slug %>" class="btn btn-small btn-round">MORE</a> </div>
            </article>
          </li>
        <%})%>

        <li class="col-md-6">
          <!-- SHOP_ITEM 4 -->
          <article> <img style="
            opacity: 0.6;
        " class="img-responsive" src="<%= folder_uploads_types%>/Influential-Watches.jpg" alt="">
            <div class="position-center-center">
              <h4><a href="sales/type/">Tất cả đồng hồ</a></h4>
              <a href="sales/type/" class="btn btn-small btn-round">MORE</a> </div>
          </article>
        </li>
      </ul>
      
      <!-- SHOW MORE -->
      
    </div>
  </div>
</section>  

<!-- New Arrival -->
<section class="padding-top-30 padding-bottom-30">
  <div class="container"> 
    
    <!-- Main Heading -->
    <div class="heading text-center">
      <h4>Tất cả đồng hồ đặc biệt</h4>
      <span>Những chiếc đồng hồ mới được bày bán, mại dô mại dô</span> </div>
  </div>
  <%= //JSON.stringify(itemsSpecial2)  %>

  <!-- New Arrival -->
  <div class="arrival-block"> 
        
    <% for(let i = 0; i < itemsSpecial2.length; i++){ %>

    <!-- Item -->
    <div class="item" style="border-top: 2px solid #d1d5db;
    border-bottom:2px solid #d1d5db;
    border-left:1px solid #d1d5db;"> 
      <!-- Images --> 
      <img class="img-1"  src="<%= folder_uploads + itemsSpecial2[i].avatar[0] %>"  alt="<%= itemsSpecial2[i].name %>"> <img class="img-2" src="<%= folder_uploads + itemsSpecial2[i].avatar[1] %>" alt=="<%= itemsSpecial2[i].name %>"> 
      <!-- Overlay  -->
      <div class="overlay"> 
        <!-- Price --> 
        <span class="price"><small>đ</small><%= formatMoney(itemsSpecial2[i].price) %></span>
        <div class="position-center-center"> <a style="
          margin-bottom: 160px;" href="sales/product/<%= itemsSpecial2[i].slug %>" data-lighter><i class="icon-magnifier"></i></a> </div>
      </div>
      <!-- Item Name -->
      <div class="item-name"> <a  href="sales/product/<%= itemsSpecial2[i].slug %>"><%= itemsSpecial2[i].name %></a></div>
    </div>
    
    <% } %>
  </div>
</section>



<% itemsSpecialInType.forEach((type) => { %> 
<!--special-->
<section class="padding-top-30 padding-bottom-50" style="border-bottom: 1px solid #d1d5db;">
  <div class="container"> 
    
    <!-- Main Heading -->
    <div class="heading text-center">
      <h4><%=  type[0].group.name %> đặc biệt!!!</h4>
       </div>
    
    <!-- Popular Item Slide -->
    <div class="papular-block block-slide"> 
      <%= //JSON.stringify(type[0].avatar[0]) %>
      <%= //JSON.stringify(type.length) %>
      <% for(let i = 0; i < type.length; i++){ %>
      <!-- Item -->
      <%= //JSON.stringify(type[i].avatar[0]) %>
      <div class="item"> 
        <!-- Item img -->
        <div class="item-img"> <img class="img-1"src="<%= folder_uploads + type[i].avatar[0] %>" alt="<%= type[i].name %>" > <img class="img-2" src="<%= folder_uploads + type[i].avatar[1] %>" alt="<%= type[i].name %>" > 
          <!-- Overlay -->
          <div class="overlay">
            <div class="position-center-center">
              <div class="inn"><a href="sales/product/<%= type[i].slug %>" ><i class="icon-magnifier"></i></a> <a href="#." data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-basket"></i></a> <a href="#." data-toggle="tooltip" data-placement="top" title="Add To WishList"><i class="icon-heart"></i></a></div>
            </div>
          </div>
        </div>
        <!-- Item Name -->
        <div class="item-name"> <a href="sales/product/<%= type[i]._id %>"><%= type[i].name %></a>
          
        </div>
        <!-- Price --> 
        <span class="price"><small>đ</small><%= formatMoney(type[i].price) %></span> </div>
      
      <% } %>
      
    </div>
  </div>
</section>
<% });  %>

<!-- thương hiệu -->
<section class="padding-top-30 padding-bottom-100">
  
  <div style="border-top: 1px solid #d1d5db;    padding-top: 4%;" class="container" style="padding-top: 4%;"> 
    
    <!-- Main Heading -->
    <div class="heading text-center">
      <h4>Các thương hiệu</h4>
      <span>Các loại thương hiệu nổi tiếng,  mại dô mại dô</span> </div>
  </div>

  <div class="top-shop-feature">
    <div class="container">
      <div class="row" style="display: flex; flex-wrap: wrap;"> 
        <% itemsBrand.forEach((category) => { %> 
          
          <div class="col-md-4">
            <div class="text-center"> <img class="img-responsive" src="<%= folder_uploads_brands + category.avatar %>" alt="<%= category.name %>" >
              <article style="
              min-height: 175px;
              margin: 0 0;
              text-align-last: center;
          ">
                <h4><%= category.name %></h4>
                <a href="sales/brand/<%= category.slug %>" class="btn btn-small btn-round">SHOP NOW</a> </article>
            </div>
          </div>

          <%})%>
        <!-- Item 1  -->


        <div class="col-md-4">
          <div class="text-center"> <img class="img-responsive" src="<%= folder_uploads_brands%>/all.jpg" alt="" >
            <article style="
            min-height: 175px;
            margin: 0 0;
            text-align-last: center;
        ">
              <h4>Tất cả</h4>
              <a href="sales/type/" class="btn btn-small btn-round">SHOP NOW</a> </article>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="special-offers">
  <div class="container">
    <div class="col-md-8 center-block">
      <h4>Giảm giá lớn!!!</h4>
      <h1 class="extra-huge-text  "> 
         Đặc biệt </h1>
      <a href="sales/type/giam-gia" class="btn btn-round margin-top-50"> SHOP NOW</a> </div>
  </div>
</section>




