<% include ./../../helpers/format-money %>
<% 
  let total = 0;
%>

<section class="chart-page padding-top-100 padding-bottom-100">
      <div class="container"> 
        
        <!-- Payments Steps -->
        <div class="shopping-cart"> 
          
          <!-- SHOPPING INFORMATION -->
          <div class="cart-ship-info">
            <div class="row"> 
              <form class="ps-checkout__form" action="/sales/checkout/save" id="checkout-form" method="post">
              <!-- ESTIMATE SHIPPING & TAX -->
              <div class="col-sm-7">
                <h6>BILLING DETAILS</h6>
                
                      <ul class="row">
                        
                        <!-- Name -->
                        <li class="col-md-6">
                          <label> *TÊN GỌI
                            <input class="form-control" type="text" name="first_name" value="" placeholder="">
                          </label>
                        </li>
                        <!-- LAST NAME -->
                        <li class="col-md-6">
                          <label> *TÊN HỌ
                            <input class="form-control" type="text" name="last_name" value="" placeholder="">
                          </label>
                        </li>
                        <li class="col-md-6"> 
                          <!-- EMAIL ADDRESS -->
                          <label>*EMAIL
                            <input class="form-control" type="email" name="email" value="" placeholder="">
                          </label>
                        </li>
                        <li class="col-md-6"> 
                          <!-- ADDRESS -->
                          <label>*SỐ ĐIỆN THOẠI
                            <input class="form-control" type="number" name="phone" value="" placeholder="">
                          </label>
                        </li>
                        <!-- TOWN/CITY -->
                        <li class="col-md-6">
                          <label>*TỈNH/ THÀNH PHỐ
                            <select class="form-control ps-select" name="ls_province"></select>
                            <input class="form-control" name="province" value="" type="hidden" >
                          </label>
                        </li>
                        
                        <!-- COUNTRY -->
                        <li class="col-md-6">
                          <label> *QUẬN / HUYỆN
                            <select class="form-control ps-select" name="ls_district"></select>
                            <input class="form-control" name="district" value="" type="hidden" >
                          </label>
                        </li>
                        
                        <!-- EMAIL ADDRESS -->
                        <li class="col-md-6">
                          <label> *PHƯỜNG
                            <select class="form-control ps-select" name="ls_ward"></select>
                            <input class="form-control" name="ward" value="" type="hidden" >
                          </label>
                        </li>
                        <!-- PHONE -->
                        <li class="col-md-6">
                          <label> *ĐỊA CHỈ
                            <input type="text" name="address" value="" placeholder="">
                          </label>
                        </li>
                        
                        
                      </ul>
                
                
                
                
                    
                
                <h6 class="margin-top-50"> Note</h6>
                <div class="form-group form-group--inline textarea">
                  <label>Order Notes</label>
                  <textarea class="form-control" rows="5" name="message" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                </div>
              
                
              </div>
              
              <!-- SUB TOTAL -->
              <div class="col-sm-5">
                <h6>YOUR ORDER</h6>
                <div class="order-place">
                  <div class="order-detail">
                    <% items.forEach( (item) => { %>
                      <% total += item.price * item.quantity %>
                    <p><%= item.name %> x <%= item.quantity %> <span><%=  formatMoney(item.quantity * item.price) %>đ </span></p>
                    <% }); %>

                    <p>shipping_fee <span id="shipping-fee"> 0 đ </span></p>
            
                    <input class="form-control" name="shipping_fee" value="" type="hidden" >
                    <% if(sale_off > 0) { %>
                      <p>Promotion code: <span >  -<%= formatMoney(sale_off) %> đ </span></p>
                    <% }%>
                    
                    <!-- SUB TOTAL -->
                    <p class="all-total">TOTAL COST <span id="checkout-total-price"> <%= formatMoney(total - sale_off)%>đ</span></p>
                    <p class="all-total" style="display: none;">TOTAL COST <span id="total-price"> <%= total - sale_off%></span></p>
                  </div>
                  <div class="pay-meth">
                    <button class="btn  btn-dark pull-right margin-top-30" type="submit">Place Order<i class="ps-icon-next"></i></button>
                    
                </div>
              
              </div>
            
            </form>
            </div>
          </div>
        </div>
      </div>
    </section>