<% include ./../../helpers/view-status %>
<% include ./../../helpers/tracking %>

<% 
  const folder_uploads = "uploads/products/"; 
  const linkPrefix = systemConfig.prefixSales + '/';
%>

<div class="ps-checkout pt-80 pb-80">
	<div class="ps-container">
		<div class="card-header">
			<h3>Search order</h3>
			<aside class="ps-widget--sidebar ps-widget--search">
				<form class="ps-search--widget" action="/sales/orders-tracking" method="get">
				  <input class="form-control" name="code" value="<%= query %>" type="text" placeholder="ID your order..." style="border-radius:5px;height: 50px;">
				  <button type="button"><i class="ps-icon-search"></i></button>
				</form>
			</aside>
		</div>
		<hr>
        <% if(item.length > 0) { item = item[0]; %>
        <div class="card-body" style="
		padding-left: 80px;
		padding-right: 80px;
	">
            <h6>Order ID: <%= item.code %></h6>
            <article class="card">
                <div class="card-body row" style="
				margin-left: 3px;
				margin-right: 3px;
			">
                    <div class="col"> <strong>Name:</strong> <br> </div>
                    <div class="col"> <strong>Họ và Tên:</strong> <br><%= item.user.first_name + ' ' + item.user.last_name %>, | <i class="fa fa-phone"></i> +<%= item.user.phone %> </div>
                    <div class="col"> <strong>Giao tới:</strong> <br> <%= item.user.address %> </div>
                    <div class="col"> <strong>Tình trạng:</strong> <br> <%= viewStatusHelper(systemConfig.orders_state_value, item.status) %> </div>
                    <div class="col"> <strong>Tổng tiền:</strong> <br> <%= item.total %>đ  </div>
                </div>
            </article>


            <div class="track">
                <%- timelineStatusHelper(systemConfig.orders_state_value, item.status) %>
            </div>
            <hr>
            <ul class="row">

                <% item.product.forEach( (product) => { %>
                <li class="col-md-4">
                    <figure class="itemside mb-3">
                        <div class="aside"><img src="<%= folder_uploads + product.avatar %>" class="img-sm border"></div>
                        <figcaption class="info align-self-center">
                            <p class="title"><%= product.name %><br>  Quantity: <%= product.quantity %></p> <span class="text-muted"><%= product.price %>đ </span>
                        </figcaption>
                    </figure>
                </li>
                <% }) %>
            </ul>
            <hr>
            <a href="/sales" class="btn btn-warning" data-abc="true"> <i class="fa fa-chevron-left"></i> Tiếp tục mua sắm</a>
        </div>

        <% } %>
	</div>
</div>
